.app {
  font-family: "Roboto", sans-serif;
}

.main_title {
  text-align: center;
}

.card {
  min-height: 400px;
  width: 300px;
  border: 1px solid black;
  margin: 15px;
}

.image_container {
  display: flex;
  justify-content: center;
}

.flower_image {
  width: 90%;
  height: auto;
  padding: 10px;
}

.card_content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header_main {
  width: 100%;
  border-bottom: 1px solid black;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-bottom: 10px;
}
